# Build folders
build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
compile_commands.json

# Qt Creator / IDE
*.pro.user
*.qbs.user
*.user
*.autosave
.vscode/

# macOS
.DS_Store

# App bundles / binaries
*.app
*.exe
*.dll
*.so
*.dylib

.cache/
.qtcreator/
.DS_Store
build*/
CMakeLists.txt.user
*.pro.user

# Generated deployment folders
release/
debug/